* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    margin-bottom: 10px;
}

.jumbo {
    padding: 15px;
}

.container {
    background-image: url(../assets/images/back2.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.text-center {
    text-align: center;
    padding: 15px;
}

.back {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/back8.webp);
    background-position: center;
    background-size: cover;
}

.card1 {
    background-color: rgb(36 162 253);
    border: solid 2px black;
    border-radius: 14px;
    margin: 10px;
    /* position: relative; */
    width: 320px;
    height: 218px
}

.bord {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 16px;
    padding: 10px;
}

.level {
    color: #fff;
}

h1,
h2,
p {
    color: #fff;
}

h3 {
    color: aliceblue;
}

body {
    
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



img {
    height: 40px;
    width: 40px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
}
li {
    color: #f1ecec;
    padding: 0px;
}

address {
    margin-bottom: 10px;
}



.button1 {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        padding: 10px 12px;
        margin-top: 10px;

}
.update {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        padding: 7px 10px;
        margin-top: 10px;
}

.button {
    background-color: #fff;
        color: #333;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        padding: 11px 13px;
        margin-top: 10px;

}

.navbar {
    background-color: #007bc0;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ddd;
}

.jumbo {
    height: 100vh;
    text-align: center;
}

.form-group {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.form {
    width: 60%;
    margin: auto;
}
a{
    color:#f4f4f4
}