<div class="jumbo">
    <div class="right tomster"></div>
    <h2 class="poppins-light">About Our Employee Management System</h2>
    <p class="rajdhani-light">
        At Cognizant, our Employee Management System (EMS) streamlines and enhances the employee lifecycle. Key features include
        a centralized employee database, recruitment and onboarding tools, performance management, learning and development
        modules, time and attendance tracking, payroll and compensation processing, employee self-service, and advanced
        analytics. Our EMS optimizes efficiency, supports employee engagement, and fosters a culture of continuous growth,
        ensuring that both our organization and our people thrive.
    </p>
    <ul>
        <li>1. Centralized Employee Database: A single, secure repository for all employee data, making it easy to access and manage
        information such as personal details, employment history, and qualifications.</li>
        <li>2. Recruitment and Onboarding: Seamless integration of recruitment processes, from job postings and applicant tracking
        to onboarding new hires, ensuring a smooth transition and immediate productivity.</li>
        <li>3. Performance Management: Robust tools for setting goals, conducting evaluations, and providing feedback, enabling
        continuous performance improvement and alignment with organizational objectives</li>
    </ul>
    <LinkTo @route="contact" class="button1">Contact Us</LinkTo>
</div>