{{page-title "EmployeeManagment"}}


<nav class="navbar">
    <img src="../assets/images/coglogo.jpg" alt="">
    <div>
        <LinkTo class="nav-link" @route="home">Home</LinkTo>
        <LinkTo class="nav-link" @route="about">about</LinkTo>
        <LinkTo class="nav-link" @route="employees">employees</LinkTo>
        <LinkTo class="nav-link" @route="create-employee">Create</LinkTo>
    </div>

</nav>
<div class="container">
    {{outlet}}
</div>