{{page-title "Employees"}}
<div class="container text-center">
    <h1>Cognizant</h1>
    <p>As of its 2022 fiscal year, American IT and consulting company Cognizant employed a total of 355.3 thousand
        people around the world. The vast majority of the employees (more than 250 thousand) were located in the
        company’s Indian branches, while nearly 42 thousand more worked in North America. The company increased its
        employment within Europe to more than 20 thousand people since 2023
    </p>
    <LinkTo @route="home" class="button">Home</LinkTo>
    <br>
    <EmployeeInfo @employees={{this.model}} />
    {{!-- {{@model}} --}}

    {{!--
    <EmployeeInfo @employees={{this.model}} /> --}}

</div>