<div class="back">
    <div class="employee-photo">
        <img src="../assets/images/employee.jpg" alt="Employee Photo">
    </div>
    <div class="meaningful-text">
        "Believe you can and you're halfway there." - Theodore Roosevelt
    </div>
</div>