{{page-title "Login"}}
<div class="login-container">
    <div class="login-form">
        <h7>Login</h7>
        <form action="" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            <LinkTo @route="signup" class="btn">signup</LinkTo>
        </form>
        
    </div>
</div>